body{
    background-color: rgb(240, 207, 175);
}

.innerClass1, .innerClass2, .innerClass3, td{
    border: 1.5px solid black;
}


.center{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}