body{
    background-color: palegoldenrod;
}

.cvClass{
    text-align: center;
    color: purple;
}

.myDiv{
    border: slategray;
    align-items: center;
}

.innerClass1, .innerClass2, .innerClass3, td{
    border: 1px solid black;
}